.about {
  height: 23vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &_describe {
    width: 60%;
    padding: 2rem;
    font-family: 'Poppins';
    font-size: 1.2rem;
  }
  &_profil {
    width: 8%;
    clip-path: ellipse(49% 28%);
  }
  
}